body {
    text-align: center;
    background-color: black;
    vertical-align: middle;

}

  h1 {
    margin: auto;
    height: 60px;
    width: 466px;
    padding: 1px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 50px;
    font-style:italic;
    display: inline;

  }

  h2 {
    margin: auto;
    height: 60px;
    width: 466px;
    padding: 1px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-style:italic;
    display: inline;

  }
  h3 {
    margin-bottom: auto;
    font-size: 50px;
    text-align: center;
  }

  a {
    text-decoration: none;
    display: inline;
    text-align: center;
    vertical-align: middle;
    color: black;
  }

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}