<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        setInterval(()=>{
            $.ajax(
            {
                url: "/check",
                success: (result) => {
                    temp = JSON.parse(result)[0]['info']['temp'];
                    temp = parseInt(temp, 10);
                    if(temp >= 35 && temp <= 40){
                        $("#alert").load("/someoneoutside");
                    }
                    else {
                        $("#alert").load("/nooneoutside");
                    }
                    console.log(temp);
                }
            });
        }, 1000);

    </script>
    <meta charset="UTF-8">
    <title>Sensor</title>


</head>
<body>
        <button style="background-color:grey;">
        <a href="/">Main page</a>
        </button>
        <button>
        <a href="/sensors">Sensors</a>
    </button>
<div id="alert">
</div>

</body>
</html>