<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Sensors</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
window.setInterval(
     function() {
     $("#content").load("/load");
     }, 1000);
</script>

</head>
<body>
    <button>
        <a href="/">Main page</a>
        </button>
        <button style="background-color:grey;">
        <a href="/sensors">Sensors</a>
    </button>
<div id="content">
</div>
</body>
</html>