<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Sensors</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
window.setInterval(
     function() {
     $("#content").load("/load");
     }, 1000);
</script>

</head>
<body>
<div id="content">

    <h1>Control panel</h1>
    <h1></h1>

    <h2>Infrared sensor</h2>

    <table>
        <tr>
            <th>Sensor name</th>
            <th>Timestamp</th>
            <th>Temperature</th>
        </tr>
        {% for sensor in  main_door_1 %}
            <tr>
                <td>{{ sensor['sensorname'] }}</td>
                <td>{{ sensor['info']['timestamp'] }}</td>
                <td>{{ sensor['info']['temp'] }}</td>
            </tr>
        {% endfor %}
    </table>

        <h2>Temp control</h2>
    <table>
        <tr>
            <th>Sensor name</th>
            <th>Timestamp</th>
            <th>Distance</th>
<!--            <th>Temperature</th>-->
        </tr>
        {% for sensor in main_door_2 %}
            <tr>
                <td>{{ sensor['sensorname'] }}</td>
                <td>{{ sensor['info']['timestamp'] }}</td>
                <td>{{ sensor['info']['distance'] }}</td>
<!--                <td>{{ sensor['info']['temp'] }}</td>-->
            </tr>
        {% endfor %}
    </table>

</div>

</body>

</html>